body{
	margin: 0;
	background-color: white;
}
h1,h2{
	text-align: center;
	font-family: helvetica;
	font-size: 50px;
}
p{
	font-family: Arial;
	font-size: 40px;
	text-align:center;
	padding-left: 50px;
	padding-right: 50px;
}

ol,ul{
	font-family: 30px;
	font-size: 50px;
	padding-left: 500px;
}
header{
	background-color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

header h1{
	color: white;
	font-family: 'Arial';
}
header img{
  	width: 60%;
  	height: 50%;
}

main{
	max-width: 600px
	text-align:center;

}

main img{
 	 width: 60%;
  	height: 50%;
  	padding-left: 500px;
}