body{
	margin: 0;
	background-color: black;
}
h1,h2{
	text-align: center;
	font-family: helvetica;
	font-size: 200px;
	color: white;
}

p{
	font-family: Arial;
	font-size: 100px;
	text-align:center;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
}

ol,ul{
	text-align: center;
	font-family: 30px;
	font-size: 100px;
	margin-left: 100px;
	color: white;
}
header{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

header h1{
	color: white;
	font-family: 'Arial';
	font-size: 100px;
}
header img{
  	width: 60%;
  	height: 50%;
  	padding-bottom: 300px;
}

main{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
}

main img{
  	width: 80%;
  	height: 50%;
}