body{
	margin: 0;
	background-color: black;
}
h1,h2{
	text-align: center;
	font-family: helvetica;
	font-size: 70px;
	color: white;
}
p{
	font-family: Arial;
	font-size: 100px;
	text-align:center;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
}

ol,ul{
	font-family: 30px;
	font-size: 100px;
	padding-left: 500px;
	color: white;
}
header{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

header h1{
	color: white;
	font-family: 'Arial';
}
header img{
  	width: 60%;
  	height: 50%;
  	width: 60%;
  	height: 50%;
}

main{
	max-width: 600px
	text-align:center;

}

main img{
	width: 70%;
  	height: 50%;
  	margin-left:1000px;
  	margin-right:1000px;
}